

<div class="row">
	<div class="offset2 span8">
      <h1>Tubes</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ready</th>
            <th>Reserved</th>
            <th>Delayed</th>
            <th>Total Jobs</th>
          </tr>
        </thead>
        <tbody>
	  <% @tubes.each do |name, tube| %>
	    <tr>
              <td><a href="<%= u("/tube/#{name}") %>"><%= name %></a></td>
	      <td><%= tube['current-jobs-ready'] %></td>
	      <td><%= tube['current-jobs-reserved'] %></td>
	      <td><%= tube['current-jobs-delayed'] %></td>
	      <td><%= tube['total-jobs'] %></td>
	    </tr>
	  <% end %>
	</tbody>
      </table>

      </div>
</div>



<div class="row">
	<div class="offset2 span8">
      <h1>Stats</h1>

      <table class="table">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
	  <tr>
	    <td>Total Workers</td>
	    <td><%= @workers[:total] %></td>
	  </tr>
	  <tr>
	    <td>Active Workers</td>
	    <td><%= @workers[:active] %></td>
	  </tr>
	</tbody>
      </table>

      </div>
</div>
